@import url('https://fonts.googleapis.com/css?family=Asap');
.font1{
font-family:"Asap";
}

body{
background-image: url("../images/background.jpg");
background-color: #cccccc;
}

.fondoColor{
background-color:#1565c0;
}

.fondoColorSide{
background-color:#2196f3;
}
